<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.b1.dao.ICustomerDAOmebc">
	
	<select id="cstmrOne" resultType="CustomerDTO">
		SELECT *
		FROM   CUSTOMER
		WHERE  CSTMR_CODE = #{cstmr_code}
	</select>
	
	<insert id="cstmrInsert">
		INSERT INTO CUSTOMER
			(cstmr_code,
			cstmr_id,
			cstmr_password,
			cstmr_name,
			cstmr_adres,
			cstmr_mail, 
			cstmr_phone, 
			cstmr_brthdy,
			cstmr_sexdstn)
		VALUES
			(customer_seq.nextval, 
			#{cstmr_id}, 
			#{cstmr_password}, 
			#{cstmr_name}, 
			#{cstmr_adres},
			#{cstmr_mail},
			#{cstmr_phone},
			#{cstmr_brthdy}, 
			#{cstmr_sexdstn})
	</insert>
	
	<update id="cstmrUpdate">
		UPDATE CUSTOMER SET
			CSTMR_PASSWORD = #{cstmr_password}, 
			CSTMR_NAME = #{cstmr_name},
			CSTMR_ADRES = #{cstmr_adres}, 
			CSTMR_MAIL = #{cstmr_mail},
			CSTMR_PHONE = #{cstmr_phone}, 
			CSTMR_BRTHDY = #{cstmr_brthdy},
			CSTMR_SEXDSTN = #{cstmr_sexdstn}
		WHERE 
			CSTMR_CODE = #{cstmr_code}
	</update>
		
	<delete id="cstmrDelete">
		DELETE FROM CUSTOMER
		WHERE 
			CSTMR_CODE = #{cstmr_code}
	</delete>
</mapper>
