<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.b1.dao.ILoginDAO">

	<select id="loginCheck" resultType='CustomerDTO'>
		SELECT *
		FROM CUSTOMER
		WHERE 
			CSTMR_ID = #{cstmr_id}
	</select>
	
	<select id="idFind" resultType='String'>
		SELECT CSTMR_ID
		FROM CUSTOMER
		WHERE 
			CSTMR_MAIL = #{cstmr_mail}
	</select>
	
	<select id="idMailCheck" resultType='CustomerDTO'>
		SELECT *
		FROM   CUSTOMER
		WHERE
			CSTMR_ID = #{cstmr_id}
		AND
			CSTMR_MAIL = #{cstmr_mail}
	</select>
	
	<update id="pwChange">
		UPDATE CUSTOMER SET
			CSTMR_PASSWORD = #{cstmr_password}
		WHERE
			CSTMR_ID = #{cstmr_id}
		AND
			CSTMR_MAIL = #{cstmr_mail}
	</update>
	
</mapper>
