<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.b1.dao.IMemberDAOmebc">
	
	<select id="memberOne" resultType="MemberDTO">
		SELECT *
		FROM   MEMBER
		WHERE  MBER_CODE = #{mber_code}
	</select>

	<insert id="mberInsert">
		INSERT INTO MEMBER
			(mber_code, 
			mber_nm, 
			mber_grade, 
			mber_phone, 
			mber_brthdy,
			mber_sexdstn, 
			mber_note)
		VALUES
			(member_seq.nextval, 
			#{mber_nm}, 
			#{mber_grade}, 
			#{mber_phone}, 
			#{mber_brthdy}, 
			#{mber_sexdstn}, 
			#{mber_note})
	</insert>
	
	<update id="mberUpdate">
		UPDATE MEMBER SET
			MBER_NM = #{mber_nm}, 
			MBER_GRADE = #{mber_grade},
			MBER_PHONE = #{mber_phone}, 
			MBER_BRTHDY = #{mber_brthdy},
			MBER_SEXDSTN = #{mber_sexdstn}, 
			MBER_NOTE = #{mber_note}
		WHERE 
			MBER_CODE = #{mber_code}
	</update>

	<delete id="mberDelete">
		DELETE FROM MEMBER 
		WHERE 
			MBER_CODE = #{mber_code}
	</delete>
	 
</mapper>
