<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.b1.dao.IMyPageDAO">

	<update id="pwChange">
		UPDATE CUSTOMER SET
			CSTMR_PASSWORD = #{cstmr_password}
		WHERE 
			CSTMR_ID = #{cstmr_id}
	</update>
	
</mapper>
