<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.management.b1.dao.IRegistrationDAOmebc">
	
	<select id="registOne" resultType="RegistrationDTO">
		SELECT *
		FROM   REGISTRATION
		WHERE  MBER_CODE = #{mber_code}
		AND    REGIST_REGDATE = #{regist_regdate}
		AND    SCH_CODE = #{sch_code}
	</select>
	
	<select id="timeList" resultType="String">
		SELECT DISTINCT SCH_TIME
		FROM   SCHEDULE
		WHERE  SCH_OPEN = 'Y'
		ORDER BY SCH_TIME
	</select>
	
	<select id="registHeadCount" resultType="int">
	<![CDATA[
		SELECT (SELECT SCH_PSNCPA
		        FROM  SCHEDULE
		        WHERE SCH_CODE = #{sch_code}) - COUNT(SCH_CLASS) AS COUNT
		FROM   REGISTRATION R
		JOIN   SCHEDULE S
		ON     R.SCH_CODE = S.SCH_CODE
		WHERE  S.SCH_CODE = #{sch_code}
		AND    R.REGIST_STR <= TO_CHAR(SYSDATE,'YYYYMMDD')
		AND    R.REGIST_END >= TO_CHAR(SYSDATE,'YYYYMMDD')
		AND    R.REGIST_REFND = 'N'
		GROUP BY SCH_CLASS, SCH_TIME
	]]>
	</select>
	
	<insert id="registInsert">
	<![CDATA[
		INSERT INTO REGISTRATION
			(mber_code, 
			regist_regdate, 
			sch_code,
			regist_state, 
			regist_str, 
			regist_end,
			regist_month, 
			regist_amount,
			regist_note)
		VALUES
			(#{mber_code}, 
			TO_CHAR(SYSDATE,'YYYYMMDD'), 
			#{sch_code},
			CASE
				WHEN #{regist_str} <= TO_CHAR(SYSDATE,'YYYYMMDD') THEN '현재원'
				WHEN #{regist_str} > TO_CHAR(SYSDATE,'YYYYMMDD') THEN '등록'
			END, 
			#{regist_str}, 
			#{regist_end}, 
			#{regist_month}, 
			#{regist_amount},
			#{regist_note})
	]]>
	</insert>
	
	<update id="refund">
		UPDATE REGISTRATION SET
			REGIST_STATE = '환불',
			REGIST_REFND = 'Y',
			REGIST_REFNDDATE = #{regist_refnddate}
		WHERE
			MRER_CODE = #{mber_code}
		AND
			REGIST_REGDATE = #{regist_regdate}
		AND	
			SCH_CODE = #{sch_code}
	</update>
	
	<update id="registUpdate">
	<![CDATA[
		UPDATE REGISTRATION SET
			REGIST_STATE = CASE
						   	WHEN #{regist_str} <= TO_CHAR(SYSDATE,'YYYYMMDD') THEN '현재원'
				            WHEN #{regist_str} > TO_CHAR(SYSDATE,'YYYYMMDD') THEN '등록'
			               END,
			REGIST_STR = #{regist_str},
			REGIST_END = #{regist_end},
			REGIST_MONTH = #{regist_month},
			REGIST_AMOUNT = #{regist_amount},
			REGIST_NOTE = #{regist_note}
		WHERE
			MBER_CODE = #{mber_code}
		AND
			REGIST_REGDATE = #{regist_regdate}
		AND 
			SCH_CODE = #{sch_code}
	]]>
	</update>
	
	<delete id="registDelete">
		DELETE FROM REGISTRATION 
		WHERE 
			MBER_CODE = #{mber_code}
		AND
			REGIST_REGDATE = #{regist_regdate}
		AND 
			SCH_CODE = #{sch_code}
	</delete>
	
</mapper>
